
:root{
    --darkgray: rgb(12, 12, 12);
    --darkblue: rgb(2, 4, 10);
    --lightblue: rgb(204, 236, 238);
    --fullheight: calc(100vh - 70px);
}
.background-fade-down{
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,1) 100%); ;
}
body{
    overflow-x: hidden;
}
/* Feature Classes */
.shadow{
    box-shadow: inset 0px 0px 45px 0.8vh rgba(0,0,0,0.1);
}
.absolute{
    position: absolute;
}
.full-width{
    width: 100vw;
    display: block;
}
/* End of Feature Classes */
body{
    margin: 0;
    font-family: 'Oswald', sans-serif
}
a{
    text-decoration: none;
    color: white;
}
li{
    cursor: pointer;
}
header{
    padding: 1px 0;
    background-color: rgb(177, 177, 211);
    height: auto;
}
header>h1{
    text-align: center;
    font-size: 16px;
}
ul{
    padding-left: 0px;
    list-style: none;
    display:flex;
}
#logo-text{
    display:none;
}
img[src="images/Logo.png"]{
    height: 2.6em;
}
nav{
    position: sticky;
    top: 0;
    font-size: 16px;
    z-index: 10;
    height: 70px;
    display: flex;
    padding: 0 7vw;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkgray);
    color: white;
}
nav>div:first-of-type{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight: 700;
}

ul{
    padding-left: 0px;
    list-style: none;
    display:flex;
    gap: 6vw;
}
/* For the Hero Section */
.hero{
    height: 675px;
    display: flex;
    justify-content: center;
}
img[src="images/Hero Image Background.png"]{
    filter: contrast(1);
    object-fit: fill;
    width: 100%;
}
img[src="images/Hero Image Foreground.png"]{
    height: auto;
    object-fit: cover;
    width: 100%;
    bottom: -5vh;
}
section{
    position: relative;
}
.hero .image-overlay{
    color: white;
    bottom: 5%;
    text-align: center;
}
.text-overlay{
    width: 100vw;
    height: 10vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.199) 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
}
section h1{
    margin-top: 0;
    margin-bottom: 14px;
    padding: 30px 30px 0;
    font-size: calc(1.2rem + 3.3vh);
    text-align: center;
    z-index: 1;
    position: relative;
    
}
section p{
    font-size: calc(1.2rem + 1vh);
    padding: 0 30px 30px;
    margin: 0;
    text-align: center;
    z-index: 1;
    position: relative;
}
/* For the curvature-display */
.curvature-display{
    background-color: rgb(255, 255, 255);
}
.curvature-display > div{
    position: static;
    background: white;
    color: black;
}
.curvature-display p:nth-child(4) {
    padding: 0 40px 40px;
    margin-bottom: 0;
    border-bottom: solid 10px var(--darkgray)
}

img[src="images/DingleBerries.png"]{
    filter: brightness(1.4);
    border-top: solid 10px var(--darkgray)
}
/* For the blade closeup */
.blade-closeup{
    overflow:hidden;
    background-image: url(images/dark-crevice.png);
    background-size: cover; 
}
img[src="images/Blade Closeup.png"]{
    width: 80vw;
}
.blade-closeup h1, .blade-closeup p{
    position: relative;
    color: white;
    z-index: 1;
}
.blade-closeup>div:first-child{
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    z-index: 1;
    top: 0;
}
.blade-closeup > .flex {
    justify-content: center;
    display: flex;

}
/* For The Iphone App */

.iphone-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-image: url(images/ice-355422.jpg);
    background-size: cover;
}
.iphone-app > div{
    background-color: rgba(255, 255, 255, 0.247);
    z-index: 1;
    width: 100vw;
}
img[src="images/iphone app.png"]{
    width: 65vw;
    z-index: 1;
    margin: 60px 0;
}
/*For Newsletter */
.newsletter{
    color: white;
    height: auto;
    background-image: url(images/Uranus.jpeg);
    background-size: cover;
}
.newsletter h1{
    padding-top: 50px;
}
.newsletter :not(img){
    position: relative;
    z-index: 1;
}
form{
    margin: 45px 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: calc(12px + 2vh);
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
#email, #comment{
    width: 70vw;
    padding: 16px;
    background: rgba(0, 0, 0, 0.514);
    color: white;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    resize: none;
}
#email{
    height: 4vh;
}

.newsletter ::placeholder{
    font-size: 24px;
    color: white;
}

.newsletter button {
    width: 50vw;
    border-radius: 12px;
    font-size: 24px;
    padding: 4px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    align-self: center;
    background-color: white;
    margin-bottom: 45px;
    color: black;
}
@media screen and (min-width: 800px) {
    
    header>h1{
        font-size: 16px;
    }
    /* For the hero section */
    section h1{
        font-size: calc(28px + 1.4vw);
        padding-left: 20px;
    }
    section p {
        font-size: calc(16px + 0.7vw);
        padding-left: 20px;
    }
    .hero{
        height: auto;
    }
    #logo-text{
        display:block
    }
    img[src="images/Logo.png"]{
        display: block;
        width: 4.8rem;
    }
    img[src="images/Hero Image Background.png"]{
        width: 100vw;
    }
    img[src="images/Hero Image Foreground.png"]{
        width: 35%;
        height: auto;
        bottom: 5%;
        left: 5%;
    }
    .hero div{
        top: 35%;
        left: 55vw;
        width: auto;
    }
    .hero h1{
        margin-bottom: 14px;
        padding: 0;
        text-align: left;
        font-size: calc(0.8rem + 4vw);
    }
    .hero p{
        text-align: left;
        font-size: 2vw;
        margin: 0;
        padding:0;
    }   
    .flex{
        display:flex;
        justify-content:center;
        align-items: center;
    }
    .shadow {
        display: flex;
        flex-direction: column;
    }
    /* For the curvature-display */
    img[src = "images/Curvature Display.png"]{
        position: relative;
        width: 35vw;
        left: 45vw;
    }
    .curvature-display .flex{
        gap: 13vw;
    }
    .curvature-display h1{
        text-align: center;
        padding-top: 40px;
        order: 0;
    }  
    .curvature-display img{
        position: static;
        margin-top: 20px;
        order: 1;
    } 
    .curvature-display p{
        border-bottom: 0px;
        margin-bottom: 10px;
    }
    img[src="images/DingleBerries.png"]{
        height: 13vw;
        width: 13vw;
        padding: 2vw;
        order: 0;
        object-fit: cover;
        border: rgb(51, 8, 8) dashed 3px;
        border-radius: 50%;
        object-position: 47% center;
        position: relative;
        top: 0;
        left: 10vw;
        box-shadow: 0px 0px 37px 7px rgba(0,0,0,0.1);
    }
    /* For the blade closeup */
    .blade-closeup{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    img[src="images/Blade Closeup.png"]{
        grid-row: 1;
        grid-column: 1;
        width: 30vw;
        height: auto;
        justify-self: center;
    }
    .blade-closeup>div:first-child{
        background: transparent;
        grid-row: 1;
        grid-column: 2;
        justify-self: flex-start;
    }
    .blade-closeup>div:first-child>h1, .blade-closeup>div:first-child>p{
        text-align: left;
    }

    /*For Camera Closeup */
    .camera-closeup{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
    .camera-closeup h1, .camera-closeup p {
        text-align: left;
        margin-left: 60px;
    }
    img[src = "images/Camera-Close-Up.png" ]{
        width: 30vw;
        margin: 40px;
        border: solid 2px var(--darkblue);
        border-radius: 15px;
    }
    /* For The Iphone App */
    .iphone-app{
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding: 30px;
    }
    .iphone-app>div{
        background-color: transparent;
        width: auto;
        justify-self: flex-start;
        grid-row: 1;
        grid-column: 2;
    }
    .iphone-app p, .iphone-app h1{
        text-align: left;
    }
    img[src="images/iphone app.png"]{
        box-sizing: border-box;
        width: 20vw;
        height: auto;
        margin-bottom: 0;
        grid-row: 1;
        grid-column: 1;
    }
    /*Newsletter*/
    .newsletter button {
        margin-top: 20px;
    }
  }
/*Animations*/
.hidden {
    opacity: 0;
    filter: blur(2px);
    transition: all 0.7s;
    transform: translateY(10%);
}
.delayed{
    transition-delay: 200ms;
}

.fadeup{
    opacity: 1;
    transform: translateY(0);
    filter:  blur(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}