
:root{
    --darkgray: rgb(12, 12, 12);
    --darkblue: rgb(2, 4, 10);
}
/* Feature Classes */
.shadow{
    box-shadow: inset 0px 0px 45px 0.8vh rgba(0,0,0,0.1);
}
.absolute{
    position: absolute;
}
.full-width{
    width: 100vw;
}
/* End of Feature Classes */
body{
    margin: 0;
    font-family: 'Oswald', sans-serif
}
a{
    text-decoration: none;
    color: white;
}
header{
    padding: 3px 0;
    background-color: rgb(193, 193, 204);
}
header>h1{
    text-align: center;
    font-size: 18px;
}
ul{
    padding-left: 0px;
    list-style: none;
    display:flex;
}

img[src="images/Logo.png"]{
    display: none;
}
nav{
    position: sticky;
    top: 0;
    z-index: 10;
    height: 70px;
    display: flex;
    padding: 0 7vw;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkgray);
    color: white;
}
nav>div:first-of-type{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight: 700;
}

ul{
    padding-left: 0px;
    list-style: none;
    display:flex;
    gap: 6vw;
}
/* For the Hero Section */
.hero{
    height: 675px;
    display: flex;
    justify-content: center;
}
img[src="images/Hero Image Background.png"]{
    filter: contrast(1);
    object-fit: cover;
    width: 100%;
}
img[src="images/Hero Image Foreground.png"]{
    height: 75vh;
    object-fit: cover;
    width: 100%;
    bottom: 0;
}
section{
    position: relative;
}
.hero .image-overlay{
    color: white;
    bottom: 5%;

    text-align: center;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);;
}
section h1{
    margin-top: 0;
    margin-bottom: 14px;
    padding: 50px 20px 0;
    font-size: 3rem;
    text-align: center;
    
}
section p{
    font-size: 1.7rem;
    padding: 0 75px 0;
    text-align: center;
    margin: 0;
}
/* For the curvature-display */
.curvature-display{
    background-color: rgb(255, 255, 255);
}
.curvature-display > div{
    position: static;
    background: white;
    color: black;
}
.curvature-display p {
    padding: 0 40px 40px;
    margin-bottom: 0;
    border-bottom: solid 10px var(--darkgray)
}

img[src="images/DingleBerries.png"]{
    filter: brightness(1.4);
    border-top: solid 10px var(--darkgray)
}
/* For the blade closeup */
.blade-closeup{
    height: 80vh;
    overflow:hidden;
}
img[src= "images/dark crevice.jpg"] {
    top: -10vh;
    object-fit: cover;
    height: 100vh;
    filter: brightness(0.4);
    object-position: center 80%;
}
img[src="images/Blade Closeup.png"]{
    height: 50vh;
    width: 50vh;
    bottom: 0;
}
.blade-closeup h1, .blade-closeup p{
    position: relative;
    color: white;
    z-index: 1;
}
.blade-closeup p{
    padding: 0 40px 0;
}
.blade-closeup>div:first-child{
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    position: relative;
    z-index: 1;
}
.blade-closeup > .flex {
    justify-content: center;
    display: flex;
}
/* For the camera closeup */
.camera-closeup{
}
@media screen and (min-width: 800px) {
    
    header>h1{
        font-size: 13px;
    }
    /* For the hero section */
    section h1{
        font-size: calc(16px + 1.4vw);
    }
    section p {
        font-size: 16px + 0.7vw;
    }
    .hero{
        height: auto;
    }
    img[src="images/Logo.png"]{
        display: block;
        width: 3.5rem;
    }
    img[src="images/Hero Image Background.png"]{
        width: 100vw;
    }
    img[src="images/Hero Image Foreground.png"]{
        width: 35%;
        height: auto;
        bottom: 5%;
        left: 5%;
    }
    .hero div{
        top: 35%;
        left: 55vw;
        width: auto;
    }
    .hero h1{
        margin-bottom: 14px;
        padding: 0;
        text-align: left;
        font-size: calc(0.8rem + 4vw);
    }
    .hero p{
        text-align: left;
        font-size: 2vw;
        margin: 0;
        padding:0;
    }   
    .flex{
        display:flex;
        justify-content:center;
        gap: 13vw;
        align-items: center;
        order: 2
    }
    .shadow {
        display: flex;
        flex-direction: column;
    }
    /* For the curvature-display */
    img[src = "images/Curvature Display.png"]{
        position: relative;
        width: 35vw;
        left: 45vw;
    }
    .curvature-display h1{
        text-align: center;
        padding-top: 40px;
        order: 0;
    }  
    .curvature-display img{
        position: static;
        margin-top: 20px;
        order: 1;
    } 
    .curvature-display p{
        border-bottom: 0px;
    }
    img[src="images/DingleBerries.png"]{
        height: 13vw;
        width: 13vw;
        padding: 2vw;
        order: 0;
        object-fit: cover;
        border: rgb(51, 8, 8) dashed 3px;
        border-radius: 50%;
        object-position: 47% center;
        position: relative;
        top: 0;
        left: 10vw;
        box-shadow: 0px 0px 37px 7px rgba(0,0,0,0.1);
    }
    .shadow > p {
        margin-bottom: -8vh;
        font-size: calc(8px + 1.5vw);
    }
    /* For the blade closeup */
    .blade-closeup{
        background-color: var(--darkblue);
        height: 85vh;
    }
    img[src="images/Blade Closeup.png"]{
        width: min(40vw, 80vh);
        height: auto;
        left: calc(calc(45vw - min(40vw, 80vh))/2)
    }
    img[src= "images/dark crevice.jpg"] {
        height: 120vh;
        width: 45vw;
        left: 0;
        bottom: 20vh;
    }
    .blade-closeup>div:first-child{
        background: transparent;
    }
    .blade-closeup h1, .blade-closeup p{
        position: static;
        color: white;
        text-align: left;
        margin-left: 45vw;
        padding: 0 40px 0;
    }
    .blade-closeup h1{
        margin-top: 30vh;
    }
    .camera-closeup{
        flex-direction: row;
    }
    .camera-closeup h1, .camera-closeup p {
        text-align: left;
        padding-left: 20px;
    }
    img[src = "images/Camera-Close-Up.png" ]{
        width: 30vw;
        margin: 40px;
    }
  }
